.head{
    position: relative;
    width: 100%;
    height: 0.7rem;
    text-align: center;
    line-height: 0.7rem;
    background-color: orange;
    overflow: hidden;
}
.heads{
    width: 100%;
    height: 0.7rem;
    color: #fff;
    text-align: center;
    line-height: 0.7rem;
}
.regist{
    position: absolute;
    float: right;
    right: 0.2rem;
    top: 0;
}
.goback{
    position: absolute;
    width: 0.8rem;
    color: #fff;
    float: left;
    left: 0.2rem;
    top: 0;
}